<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOOD FINDER</title>

        <!-- Global Styles -->
        <link rel="stylesheet" href="../stylesheets/global.css">  

        <!-- Additional Styles -->
        <link rel="stylesheet" href="../stylesheets/navbar.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/home.css">
        <link rel="stylesheet" href="../stylesheets/show.css">
        <link rel="stylesheet" href="../stylesheets/info.css">

    <script
      src="https://kit.fontawesome.com/e35614b7cd.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />

    <script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet"> <!-- MAP API -->
  </head>
  <body>
  <%- include('../partials/navbar') %>
  <main>
  <%- body %>
</main>
  <%- include('../partials/footer') %>

  <script src="../javascript/nav.js"></script> <!-- NAVBAR -->
  </body>
</html>