<% layout('layouts/boilerplate') %>


<div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>COMING SOON</h1>
          <h2>FOODFINDER</h2>
          <p><p>Discover restaurants that cater to your unique dietary needs, all in one place.</p>
        </p>
          <button class="main__btn"><a href="map.html">Search By Allergy</a></button>
        </div>
        <div class="main__img--container">
          <img src="html/images/tastings.svg" alt="tasting" id="main__img" />
        </div>
      </div>
    </div>

    <div class="services">
      <h1>See what the hype is about</h1>
      <div class="services__container">
        <div class="services__card">
          <h2>Experience Bliss</h2>
          <p>AI Powered Technology</p>
          <button>Get Started</button>
        </div>
        <div class="services__card">
          <h2>Are you ready?</h2>
          <p>Take the leap</p>
          <button>Get Started</button>
        </div>
      </div>
    </div>
