<% layout('layouts/boilerplate') %>




<h1>Restaurant: <%= restaurant.name %></h1>
<p>Cuisine: <%= restaurant.cuisine %></p>
<p>Location: <%= restaurant.location %></p>
<p>Price Range: <%= restaurant.price %></p>
